<div id="marketPromotionView">
    <div class="main-list">

        <div class="nav">
            <ul>
                <li><a ng-href="#/articles/types/1">行业</a></li>
                <li><a ng-href="#/articles/types/2">零售店</a></li>
                <li><a ng-href="#/articles/types/3">产品</a></li>
                <li><a ng-href="#/articles/types/4">其它</a></li>
            </ul>
        </div>

        <article class="">

            <div class="header">
                <h2 class="initial-title">{{ vm.articleTypeName }}</h2>
                <p class="title-description"></p>
            </div>

            <div class="shop-item-list">
                <section class="shop-item"
                         ng-repeat="article in vm.articles">
                    <div class="shop-item-outer">
                        <p class="topic-title-name">News</p>

                        <div>
                            <a ng-href="#/articles/{{ article.articleId }}">
                                <img ng-src="{{ vm.articleImgRoot + article.coverThumbnailUrl }}" />
                            </a>
                        </div>

                        <div class="shop-item-inner">
                            <p>
                                <a ng-href="#/articles/{{ article.articleId }}">
                                    {{ article.title }}
                                </a>
                            </p>

                            <p>
                                <time>{{ article.modifiedDate | date: 'yyyy-MM-dd'}}</time>
                            </p>

                        </div>
                    </div>

                </section>
            </div>

        </article>

        <!-- loading icon -->
        <div ng-show="vm.isLoadingStarts" style="margin:15px 0 20px 0">
            <img style="display: block;margin-left: auto;margin-right: auto;"
                 src="content/img/loading.gif">
        </div>
    </div>

    <div class="side-bar">

        <article class="ranking">
            <div class="header">
                <h2 class="initial-title">热点文章</h2>
                <p class="title-description">综合排名</p>
            </div>

            <div class="daily-rank">
                <section ng-repeat="article in vm.rankingArticles track by $index">
                    <div class="daily-rank-outer">
                        <div class="rank-img-wrapper">
                            <a ng-href="#/articles/{{ article.articleId }}">
                                <img ng-src="{{ vm.articleImgRoot + article.coverThumbnailUrl }}">
                            </a>
                        </div>
                        <div class="daily-rank-inner">
                            <p>NO.{{ $index + 1 }}</p>
                            <p>
                                <a ng-href="#/articles/{{ article.articleId }}">{{ article.title }}</a>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>
