<div id="all">
    <!-- content area -->
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">

                    <li>
                        <a ng-href="#/">主页</a>
                    </li>
                    <li>账号</li>
                </ul>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h1>登陆</h1>

                    <p class="lead">集匠网会员</p>
                    <p class="text-muted">
                     
                    </p>

                    <hr>

                    <form name="form1" method="post">
                        <div class="form-group"
                             ng-class="{ 'has-error': form1.userName.$dirty && form1.userName.$error.required }">
                            <label for="email">电子邮件</label>
                            <input type="text" class="form-control" name="userName"
                                   ng-model="vm.user.userName" 
                                   required>
                           
                        </div>
                        <div class="form-group"
                             ng-class="{ 'has-error': form1.password.$dirty && form1.password.$error.required }">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" name="password"
                                   ng-model="vm.user.password"
                                   required>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary"
                                    ng-click="vm.login()"
                                    ng-disabled="form1.$invalid || vm.dataLoading">
                                <i class="fa fa-sign-in"></i> 登陆
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h1>注册新账号</h1>

                    <!--<p class="lead">Not our registered customer yet?</p>-->
                    <p>成为集匠网会员，获取更多行业资源和信息</p>
                    <p class="text-muted">如有问题，请随时<a href="contact.html">联系我们</a>, 我们的客服会尽量回复您.</p>

                    <hr>

                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="email">电子邮件</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">确认密码</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> 注册</button>
                        </div>
                    </form>
                </div>
            </div>

           

        </div>
    </div>
</div>