<!-- ranking side bar -->
<article class="ranking">
    <div class="header">
        <h2 class="initial-title">人气商品</h2>
        <p class="title-description">综合排名</p>
    </div>

    <div class="daily-rank">

        <section ng-repeat="product in vm.products track by $index">
            <div class="daily-rank-outer">
                <div class="rank-img-wrapper">
                    <a ng-href="#/products/{{ product.productId }}">
                        <img class="lazy" 
                             ng-src="{{ vm.imgRoot + product.imgUrl}}">
                    </a>
                </div>
                <div class="daily-rank-inner">
                    <p>NO.{{ $index + 1 }}</p>
                    <p>
                        <a ng-href="#/products/{{ product.productId }}">
                            {{ product.brandName }} - {{ product.primaryName }}
                        </a>
                    </p>
                </div>
            </div>
        </section>

    </div>
</article>
