<div id="shopSearchView">
    <div class="b_search">
        <span class="input-group-btn">
            <div class="zone-search-btn">
                <span ng-click="vm.search()">SEARCH</span>
            </div>
        </span>
    </div>

        <section class="inner-content">
            <div class="inner">
                <div class="zone-choose">
                    <select class="select-btn"
                            ng-options="retailer.retailerId as retailer.name for retailer in vm.retailers"
                            ng-model="vm.searchModel.retailerId"></select>

                    <div class="input-group">
                        <input type="text" placeholder="名称，地址，区域"
                               ng-model="vm.searchModel.keyword">
                        <!--<span class="input-group-btn">
                            <button class="zone-search-btn"
                                    ng-disabled="vm.searchModel.keyword.length < 2"
                                    ng-click="vm.search()">
                                搜索
                            </button>
                        </span>-->
                    </div>
                </div>

                <p class="area">店铺列表</p>

                <div class="shop-list">
                    <div class="shop-list-item"
                         ng-repeat="shop in vm.shops">
                        <div class="title-index">
                            <span class="name">{{ shop.name }}</span>
                            <span class="address">{{ shop.address }}</span>
                        </div>

                        <div class="info-wrapper">
                            <div class="map-wrapper">
                                <div class="map-container">
                                    <iframe ng-src="{{ shop.mapUrl }}" style="border: none; width:95%; height:275px;"> </iframe>
                                </div>
                            </div>

                            <div class="shopTxt">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>联系电话</th>
                                            <td><span class="href-tel">{{ shop.phone }}</span></td>
                                        </tr>

                                        <tr>
                                            <th>营业时间</th>
                                            <td>{{ shop.openTime }}</td>
                                        </tr>
                                        <tr>
                                            <th>休息日</th>
                                            <td>{{ shop.closeDay }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p>
                                    其他信息<br>
                                    待定1<span class="href-tel">092-263-2720</span>( 1F )<br>
                                    待定2<span class="href-tel">092-263-2720</span>( 1F ) <br>
                                </p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
</div>