<div id="personCenterView">
    <div class="main-list">
        <div class="nav">
            <ul>
                <li><a ng-href="#/profile">收藏的商品</a></li>
                <li><a ng-href="#/profile/articles">收藏的文章</a></li>
            </ul>
        </div>
        <!-- saved products-->
        <article class="">
            <div class="header">
                <h2 class="initial-title">{{ vm.articleTypeName }}</h2>
                <p class="title-description"></p>
            </div>

            <div class="shop-item-list">
                <section class="shop-item"
                         ng-repeat="article in vm.articles">
                    <div class="shop-item-outer">
                        <p class="topic-title-name">News</p>

                        <div>
                            <a ng-href="#/articles/{{ article.articleId }}">
                                <img ng-src="{{ vm.articleImgRoot + article.coverThumbnailUrl }}" />
                            </a>
                        </div>

                        <div class="shop-item-inner">
                            <p>
                                <a ng-href="#/articles/{{ article.articleId }}">
                                    {{ article.title }}
                                </a>
                            </p>

                            <p>
                                <time>{{ article.modifiedDate | date: 'yyyy-MM-dd'}}</time>
                            </p>

                        </div>
                    </div>

                </section>

                <!-- loading icon -->
                <div ng-show="vm.isLoadingStarts" style="margin:25px 0 25px 0">
                    <img style="display: block;margin-left: auto;margin-right: auto;"
                         src="content/img/loading.gif">
                </div>
            </div>

        </article>
    </div>
    <!-- profile info-->
    <div class="side-bar">

        <div class="person-info">

            <div class="person-info-item">
                <h3>用户名</h3>
                <span>{{ vm.name }}</span>
            </div>

            <div class="person-info-item">
                <h3>修改个人信息</h3>
                <span></span>
            </div>

            <div class="person-info-item">
                <h3>上次登录时间</h3>
                <span></span>
            </div>

        </div>

    </div>
</div>