<div id="personCenterView">
    <div class="main-list">
        <div class="nav">
            <ul>
                <li><a ng-href="#/profile">收藏的商品</a></li>
                <li><a ng-href="#/profile/articles">收藏的文章</a></li>
            </ul>
        </div>
        <!-- saved products-->
        <article class="">
            <div class="header">
                <h2 class="initial-title">{{ vm.articleTypeName }}</h2>
                <p class="title-description"></p>
            </div>

            <div class="shop-item-list">
                <section class="product-list clearfix">
                    <div class="list-area clearfix"
                         ng-repeat="product in vm.products">
                        <div class="listphoto">
                            <a ng-href="#/products/{{product.productId}}">
                                <img class="picture"
                                     alt="{{ product.primaryName }}"
                                     ng-src="{{ vm.imgRoot + product.imgUrl}}">
                            </a>
                        </div>

                        <div class="listrightbloc">
                            <div class="listrightbloc_head">
                                <div class="listcomment">{{ product.brandName }}</div>
                                <h3>{{ product.primaryName }}</h3>
                                <div class="price_area">
                                    <div class="pricebox sale_price">
                                        <span class="price">
                                            <span id="price02_default_13666">{{ product.price | currency:"¥"}}</span>
                                            <span id="price02_dynamic_13666"></span>
                                            <span class="price_strong"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>   

                <!-- loading icon -->
                <div ng-show="vm.isLoadingStarts" style="margin:25px 0 25px 0">
                    <img style="display: block;margin-left: auto;margin-right: auto;"
                         src="content/img/loading.gif">
                </div>
            </div>

        </article>
    </div>
    <!-- profile info-->
    <div class="side-bar">
        <div ng-include="'app/components/accounts/profile.html'"
             ng-controller="profileComponentController as vm">
        </div>
    </div>
</div>