/* animation for ngView */
.slide.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.slide.ng-enter {
}
/* starting animations for enter */
.slide.ng-enter-active {
    opacity: 1;
}
/* terminal animations for enter */
.slide.ng-leave {
}
/* starting animations for leave */
.slide.ng-leave-active {
}

/* aniamtion for ngShow */
.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    line-height: 20px;
    -ms-opacity: 0;
    opacity: 1;
}

    .animate-show.ng-hide-add,
    .animate-show.ng-hide-remove {
        display: block !important;
    }

    .animate-show.ng-hide {
        line-height: 0;
        -ms-opacity: 0;
        opacity: 0;
    }

/* ngCloak  */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* ---------------------- web site css ---------------------- */

/* center an image */
.produt-list-img{
    height:160px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* color */
.main-color{
    color:#c27baa; 
}
.red {
  color: #dd5a43 !important;
}
.red2 {
  color: #e08374 !important;
}
.light-red {
  color: #ff7777 !important;
}
.blue {
  color: #478fca !important;
}
.light-blue {
  color: #93cbf9 !important;
}
.green {
  color: #69aa46 !important;
}
.light-green {
  color: #b0d877 !important;
}
.orange {
  color: #ff892a !important;
}
.orange2 {
  color: #feb902 !important;
}
.light-orange {
  color: #fcac6f !important;
}


/* data loading indicator */
.widget-box-overlay {
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    left: -1px;
    z-index: 99;
    text-align: center;
    min-height: 100%;
    background-color: #ffffff;
    opacity: 0.4;
}

    .widget-box-overlay > .loading-icon {
        position: absolute;        
        left:5%;     
        margin: auto;
        text-align: center;
    }

/* pin style */
#wrapper {
	width: 95%;
	max-width: 1280px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 4;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 4;
	column-gap: 15px;
	column-fill: auto;
    min-height:200px;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
    border: 5px solid #FEFEFE;
    border-radius: 5px;
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	/*border-bottom: 1px solid #ccc;*/
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

.pin:hover  {
	border: 5px solid #c27baa;
}

@media (min-width: 1200px) {
	#columns {
		-webkit-column-count: 8;
		-moz-column-count: 8;
		column-count: 8;
	}
}

/*@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}*/

/*#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}*/
