/* animation for ngView */
.slide.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.slide.ng-enter {
}
/* starting animations for enter */
.slide.ng-enter-active {
    opacity: 1;
}
/* terminal animations for enter */
.slide.ng-leave {
}
/* starting animations for leave */
.slide.ng-leave-active {
}

/* aniamtion for ngShow */
.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    line-height: 20px;
    -ms-opacity: 0;
    opacity: 1;
}

    .animate-show.ng-hide-add,
    .animate-show.ng-hide-remove {
        display: block !important;
    }

    .animate-show.ng-hide {
        line-height: 0;
        -ms-opacity: 0;
        opacity: 0;
    }

/* ngCloak  */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* ---------------------- web site css ---------------------- */

/* center an image */
.produt-list-img{
    height:160px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* color */
.main-color{
    color:#c27baa; 
}
.red {
  color: #dd5a43 !important;
}
.red2 {
  color: #e08374 !important;
}
.light-red {
  color: #ff7777 !important;
}
.blue {
  color: #478fca !important;
}
.light-blue {
  color: #93cbf9 !important;
}
.green {
  color: #69aa46 !important;
}
.light-green {
  color: #b0d877 !important;
}
.orange {
  color: #ff892a !important;
}
.orange2 {
  color: #feb902 !important;
}
.light-orange {
  color: #fcac6f !important;
}


/* data loading indicator */
.widget-box-overlay {
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -1px;
    left: -1px;
    z-index: 99;
    text-align: center;
    min-height: 100%;
    background-color: #ffffff;
    opacity: 0.4;
}

    .widget-box-overlay > .loading-icon {
        position: absolute;        
        left:5%;     
        margin: auto;
        text-align: center;
    }