#recommendView .initial-title {
    display: inline;
}

#recommendView .title-description {
    display: inline;
    padding-left: 20px;
}


#recommendView .shop-item-list .shop-item {
    padding-right: 15px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}


#recommendView .shop-item-outer {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}


#recommendView .shop-item-outer p {
    letter-spacing: 1px;
}

#recommendView .shop-item-outer p>a {
    color: #b2b2b2;
}

#recommendView .shop-item-outer img {
    height: auto;
    width: 100%;
}

#recommendView .header{
    margin-top: 40px;
    padding-bottom: 20px;
}