<!DOCTYPE html>
<html id="ng-app" ng-app="gbmono">
<head>
    <title>集匠网</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link href="content/css/articleDetailInit.css" rel="stylesheet" />
    <link href="content/css/brandInit.css" rel="stylesheet" />
    <link href="content/css/indexInit.css" rel="stylesheet" />
    <link href="content/css/loginInit.css" rel="stylesheet" />
    <link href="content/css/marketPromotionInit.css" rel="stylesheet" />
    <link href="content/css/personCenterInit.css" rel="stylesheet" />
    <link href="content/css/productDetailInit.css" rel="stylesheet" />
    <link href="content/css/productInit.css" rel="stylesheet" />
    <link href="content/css/recommendInit.css" rel="stylesheet" />
    <link href="content/css/shopSearchInit.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">
</head>
<body ng-controller="masterController as masterViewModel"> 
    <!-- header -->
    <header id="menuHeader" class="clearfix">
        <div class="outer">
            <div class="logo">
                <img class="logo-img" src="content/img/log_128.png">
                <div class="logo-title">
                    <h1>集匠</h1>
                    <p>GBmono.com</p>
                </div>
            </div>

            <nav>
                <ul>
                    <li class="main-head-title"><a ng-href="#/">主页</a></li>
                    <li class="main-head-title gb-products">
                        <a href="">产品<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-menu-wrapper">
                                <ul class="dropdown-menu-column">
                                    <li class="menu-product-item" ng-repeat="cate in masterViewModel.topCatesCol1">
                                        <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-menu-wrapper">
                                <ul class="dropdown-menu-column">
                                    <li class="menu-product-item" ng-repeat="cate in masterViewModel.topCatesCol2">
                                        <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-menu-wrapper">
                                <ul class="dropdown-menu-column">
                                    <li class="menu-product-item" ng-repeat="cate in masterViewModel.topCatesCol3">
                                        <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-menu-wrapper">
                                <ul class="dropdown-menu-column">
                                    <li class="menu-product-item" ng-repeat="cate in masterViewModel.topCatesCol4">
                                        <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="main-head-title gb-recommend">
                        <a href="">集匠推荐<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-href="#/newproducts">新品上市</a>
                            </li>
                            <li>
                                <a href="">人气商品</a>
                            </li>
                            <li>
                                <a ng-href="#/topics">集匠特辑</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-head-title"><a ng-href="#/brands">品牌</a></li>
                    <li class="main-head-title"><a ng-href="#/articles/types">市场动态</a></li>
                    <li class="main-head-title gb-shop">
                        <a href="">药妆店<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-href="#/shops">店铺浏览</a>
                            </li>
                            <li>
                                <a ng-href="#/shops/search">店铺查找</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-head-title gb-search">
                        <span class="search">
                            <input type="text" name="searchBtn" id="searchBtn" class="input-text" placeholder="搜索" value="">
                        </span>
                    </li>
                    <li class="main-head-title"
                        ng-show="!masterViewModel.isAuthenticated">
                        <a ng-href="#/login">登录</a> | <a ng-href="#/register">注册</a>
                    </li>
                    <li class="main-head-title"
                        ng-show="masterViewModel.isAuthenticated">
                        <a ng-href="#/profile">
                            <section class="person-wrapper">
                                <img src="content/img/user.png">
                            </section>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </header>

    <!-- container -->
    <section class="container">            
        <!-- content, ng view injected-->
        <section class="wrapper clearfix" style="padding-top:15px;">
            <div ng-view class="slide"></div>
        </section>
        
        <!-- back to top -->
        <div id="pageTop" class="dnone"
                ng-click="masterViewModel.backToTop()">
            <figure class="page-top-outer">
                <img src="content/img/pagetop.gif" alt="">
            </figure>
        </div>
    </section>

    <!-- footer -->
    <footer id="footer">
        <div class="footer-container-outer">
            <div class="footer-container-inner">
                <div class="nav">
                    <ul>
                        <li><a ng-href="/#">主页</a></li>
                        <li><a ng-href="/#">产品</a></li>
                        <li><a ng-href="/#">集匠推荐</a></li>
                        <li><a ng-href="/#">药妆店</a></li>
                        <li><a ng-href="/#">市场动态</a></li>
                        <li><a ng-href="/#">手机端下载</a></li>
                    </ul>
                </div>

                <div class="subnav">
                    <ul>
                        <li><a ng-href="/#">联系我们</a></li>
                        <li><a ng-href="/#">广告合作</a></li>
                        <li><a ng-href="/#">条款</a></li>
                        <li><a ng-href="/#">常见问题</a></li>
                        <li><a ng-href="/#">关于我们</a></li>
                    </ul>
                </div>

                <p class="copyright">Copyright © 2016 GBmono Inc. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script src="scripts/jquery-1.11.0.min.js"></script>

    <!-- jquery plugins -->
    <script src="scripts/owl.carousel.js"></script>
    <!--<script src="scripts/bootstrap-growl.min.js"></script>-->
    <!-- angularJs -->
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-animate.min.js"></script>
    <script src="scripts/angular-local-storage.js"></script>

    <!-- app module -->
    <script src="app/consts.js"></script>
    <script src="app/app.js"></script>

    <!-- services -->
    <script src="app/services/jqueryPluginService.js"></script>
    <script src="app/services/dataFactory.js"></script>
    <script src="app/services/utilService.js"></script>

    <!-- layout (master) page controller-->
    <script src="app/master.js"></script>
    <script src="app/component.js"></script>
    <script src="app/controllers/home/homeController.js"></script>
    <script src="app/controllers/products/productListController.js"></script> 
    <script src="app/controllers/products/productDetailController.js"></script>
    <script src="app/controllers/products/productNewController.js"></script>
    <script src="app/controllers/articles/articleListController.js"></script>  
    <script src="app/controllers/articles/articleDetailController.js"></script> 
    <script src="app/controllers/shops/shopListController.js"></script>     
    <script src="app/controllers/shops/shopSearchController.js"></script>
    <script src="app/controllers/brands/brandController.js"></script> 
    <script src="app/controllers/accounts/accountController.js"></script>
    <script src="app/controllers/accounts/profileController.js"></script>
    <script src="app/controllers/topics/topicListController.js"></script>
    <style scoped>
        .widget-box-overlay {
            position: absolute;
            top: -1px;
            bottom: -1px;
            right: -1px;
            left: -1px;
            z-index: 99;
            text-align: center;
            min-height: 100%;
            background-color: #ffffff;
            opacity: 0.4;
        }

            .widget-box-overlay > .loading-icon {
                position: absolute;
                margin: auto;
                text-align: center;
            }
    </style>
</body>
</html>
