<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">主页</a>
        </li>

        <li>
            <a href="#">产品管理</a>
        </li>
        <li class="active">添加产品图片</li>
    </ul><!-- /.breadcrumb -->
</div>

<!-- view -->
<div class="page-content">
    <!-- product image-->
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter">添加产品图片</h4>

                    <div class="widget-toolbar no-border">
                        <a href="" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding-left no-padding-right">

                        <form class="form-horizontal" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input name="files"
                                           type="file"
                                           kendo-upload
                                           k-async="{ saveUrl: fileUploadUrl, autoUpload: true }"
                                           k-select="onSelect"
                                           k-error="onError"
                                           k-success="onSuccess"
                                           k-multiple="false"
                                          />
                                </div>
                            </div>                            
                        </form>
                        <div class="row">
                            <div class="col-xs-12">

                                <ul class="ace-thumbnails clearfix">

                                    <!--<li>
                                        <a href="../assets/images/gallery/image-3.jpg" data-rel="colorbox">
                                            <img alt="150x150" src="../assets/images/gallery/thumb-3.jpg" />
                                            <div class="text">
                                                <div class="inner">Sample Caption on Hover</div>
                                            </div>
                                        </a>

                                        <div class="tools tools-bottom">
                                            <a href="#">
                                                <i class="ace-icon fa fa-pencil"></i>
                                            </a>

                                            <a href="#">
                                                <i class="ace-icon fa fa-times red"></i>
                                            </a>
                                        </div>
                                    </li>-->

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>