<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">主页</a>
        </li>

        <li>
            <a href="#">产品管理</a>
        </li>
        <li class="active">产品列表页</li>
    </ul><!-- /.breadcrumb -->
</div>

<!-- view -->
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box transparent">
                <div class="widget-header">
                    <h4 class="widget-title lighter">产品</h4>

                    <div class="widget-toolbar no-border">
                        <a href="" data-action="reload">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>

                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-18 no-padding-left no-padding-right">
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                <select class="form-control"
                                        ng-options="cate.categoryId as cate.name for cate in topCates"
                                        ng-model="selectedTopCateId"
                                        ng-change="topCateChanged()"></select>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <select class="form-control"
                                        ng-options="cate.categoryId as cate.name for cate in secondCates"
                                        ng-model="selectedSecondCateId"
                                        ng-change="secondCateChanged()"></select>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <select class="form-control"
                                        ng-options="cate.categoryId as cate.name for cate in thirdCates"
                                        ng-model="selectedThirdCateId"></select>
                            </div>
                        </div>
                        <br />
                        <p>
                            <a class="btn btn-primary btn-lg" ng-href="#/products/create">
                                <i class="ace-icon fa fa-pencil align-top bigger-125"></i>
                                添加新产品
                            </a>

                        </p>
   
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-striped table-bordered  table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <label class="position-relative">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </th>
                                            <th>产品代码</th>
                                            <th>商品名</th>
                                            <th>品牌(制造商)</th>
                                            <th>价格</th>
                                            <th>四季</th>
                                            <th>商品图片</th>
                                            <th>登陆日期</th>
                                            <th>终止日期</th>
                                            <th>录入人</th>                                            
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="center">
                                                <label class="position-relative">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>

                                            <td>
                                                <a href="#">4901696534922</a>
                                            </td>
                                            <td>ガスールブライト</td>
                                            <td>資生堂</td>
                                            <td>￥648</td>
                                            <td>
                                                <input type="checkbox" /> SP &nbsp;&nbsp;
                                                <input type="checkbox" /> SW &nbsp;&nbsp;
                                                <input type="checkbox" /> A &nbsp;&nbsp;
                                                <input  type="checkbox" /> W &nbsp;&nbsp;
                                            </td>
                                            <td><i class="ace-icon fa fa-picture-o bigger-120 orange"></i></td>
                                            <td>2016年2月1日</td>
                                            <td>2016年7月1日</td>
                                            <td>GBmono Editor</td>
                                            <td>
                                                <button class="btn btn-xs btn-success">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-info">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </button>

                                                <button class="btn btn-xs btn-danger">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </button>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</div>