<footer>
    <div class="footer-container-outer">
        <div class="footer-container-inner">
            <div class="nav">
                <ul>
                    <li><a ng-href="/#">主页</a></li>
                    <li><a ng-href="/#">产品</a></li>
                    <li><a ng-href="/#">人气商品</a></li>
                    <li><a ng-href="/#">集匠推荐</a></li>
                    <li><a ng-href="/#">药妆店</a></li>
                    <li><a ng-href="/#">市场动态</a></li>
                    <li><a ng-href="/#">ARCHIVES</a></li>
                </ul>
            </div>

            <div class="subnav">
                <ul>
                    <li><a ng-href="/#">联系我们</a></li>
                    <li><a ng-href="/#">广告合作</a></li>
                    <li><a ng-href="/#">条款</a></li>
                    <li><a ng-href="/#">常见问题</a></li>
                    <li><a ng-href="/#">关于我们</a></li>
                </ul>
            </div>

            <p class="copyright">Copyright © 2016 GBmono Inc. All Rights Reserved.</p>
        </div>
    </div>
</footer>