<!-- header -->
<header id="menuHeader">
    <div class="outer">
        <div class="logo">
            <img class="logo-img" src="content/img2/log_128.png">
            <h1 class="logo-title">集匠网</h1>
        </div>
        <nav>
            <ul>
                <li class="main-head-title"><a ng-href="/#">主页</a></li>
                <li class="main-head-title gb-products-btn">
                    <a href="javascript:void(0);">产品<b class="caret"></b></a>
                </li>
                <li class="main-head-title gb-recommend">
                    <a href="javascript:void(0);">集匠推荐<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">新品上市</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">人气商品</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">集匠特辑</a>
                        </li>
                    </ul>
                </li>
                <li class="main-head-title"><a ng-href="#/brands">品牌</a></li>
                <li class="main-head-title"><a ng-href="#/articles">市场动态</a></li>
                <li class="main-head-title medicine-shop">
                    <a href="javascript:void(0);">药妆店<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">店铺浏览</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">店铺查找</a>
                        </li>
                    </ul>
                </li>
                <li class="main-head-title search-outer">
                    <span class="search">
                        <input type="text" name="searchBtn" id="searchBtn" class="input-text" placeholder="搜索" value="">
                    </span>
                </li>
            </ul>

        </nav>
    </div>

    <div class="outer">
        <div class="gb-products">
            <ul class="dropdown-menu">
                <li>
                    <div class="main-child-menu">

                        <div class="product-image">
                            <img src="./images/women.jpg" class="img-responsive" alt="">
                        </div>

                    </div>

                    <div class="second-child-menu">
                        <div class="product-content">
                            <div>
                                <span><a href="javascript:void(0);">医药品・医药部外品</a></span>
                                <span><a href="javascript:void(0);">打底妆</a></span>
                                <span><a href="javascript:void(0);">染发</a></span>
                                <span><a href="javascript:void(0);">女性用品</a></span>
                            </div>

                            <div>
                                <span><a href="javascript:void(0);">医药品・医药部外品</a></span>
                                <span><a href="javascript:void(0);">打底妆</a></span>
                                <span><a href="javascript:void(0);">染发</a></span>
                                <span><a href="javascript:void(0);">女性用品</a></span>
                            </div>

                            <div>
                                <span><a href="javascript:void(0);">医药品・医药部外品</a></span>
                                <span><a href="javascript:void(0);">打底妆</a></span>
                                <span><a href="javascript:void(0);">染发</a></span>
                                <span><a href="javascript:void(0);">女性用品</a></span>
                            </div>

                            <div>
                                <span><a href="javascript:void(0);">医药品・医药部外品</a></span>
                                <span><a href="javascript:void(0);">打底妆</a></span>
                                <span><a href="javascript:void(0);">染发</a></span>
                                <span><a href="javascript:void(0);">女性用品</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="main-child-footer">

                        <h4 class="pull-right">
                            <a class="white" href="javascript:void(0);">所有分类</a>
                        </h4>

                    </div>

                </li>
            </ul>
        </div>
    </div>
</header>