<!-- header -->
<header id="menuHeader" class="clearfix">
    <div class="outer">
        <div class="logo">
            <img class="logo-img" src="content/img2/log_128.png">
            <h1 class="logo-title">集匠网</h1>
        </div>
        <nav>
            <ul>
                <li class="main-head-title"><a href="javascript:void(0);">主页</a></li>
                <li class="main-head-title gb-products-btn">
                    <a href="javascript:void(0);">产品<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="category in vm.topCates">
                            <a ng-href="#/categories/{{ category.categoryId }}/products/">{{ category.name }}</a>
                        </li>
                    </ul>
                </li>
                <li class="main-head-title gb-recommend">
                    <a href="javascript:void(0);">集匠推荐<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">新品上市</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">人气商品</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">集匠特辑</a>
                        </li>
                    </ul>
                </li>
                <li class="main-head-title"><a href="javascript:void(0);">品牌</a></li>
                <li class="main-head-title"><a href="javascript:void(0);">市场动态</a></li>
                <li class="main-head-title medicine-shop">
                    <a href="javascript:void(0);">药妆店<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);">店铺浏览</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">店铺查找</a>
                        </li>
                    </ul>
                </li>
                <li class="main-head-title search-outer">
                    <span class="search">
                        <input type="text" name="searchBtn" id="searchBtn" class="input-text" placeholder="搜索" value="">
                    </span>
                </li>
            </ul>

        </nav>
    </div>


</header>






