<!-- header -->
<header id="menuHeader" class="clearfix">

    <div class="outer">

        <div class="logo">
            <img class="logo-img" src="content/img/log_128.png">
            <div class="logo-title">
                <h1>集匠</h1>
                <p>GBMono.com</p>
            </div>
        </div>

        <nav>
            <ul>
                <li class="main-head-title"><a ng-href="#/">主页</a></li>
                <li class="main-head-title gb-products">
                    <a href="">产品<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li class="dropdown-menu-wrapper">
                            <ul class="dropdown-menu-column">
                                <li class="menu-product-item" ng-repeat="cate in vm.topCatesCol1">
                                    <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-menu-wrapper">
                            <ul class="dropdown-menu-column">
                                <li class="menu-product-item" ng-repeat="cate in vm.topCatesCol2">
                                    <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-menu-wrapper">
                            <ul class="dropdown-menu-column">
                                <li class="menu-product-item" ng-repeat="cate in vm.topCatesCol3">
                                    <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-menu-wrapper">
                            <ul class="dropdown-menu-column">
                                <li class="menu-product-item" ng-repeat="cate in vm.topCatesCol4">
                                    <a ng-href="#/categories/{{ cate.categoryId }}/products/1">{{ cate.name }}</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="main-head-title gb-recommend">
                    <a href="./recommend.html">集匠推荐<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="./recommend.html">新品上市</a>
                        </li>
                        <li>
                            <a href="./recommend.html">人气商品</a>
                        </li>
                        <li>
                            <a href="./recommend.html">集匠特辑</a>
                        </li>
                    </ul>
                </li>
                <li class="main-head-title"><a href="./brand.html">品牌</a></li>
                <li class="main-head-title"><a ng-href="#/articles">市场动态</a></li>
                <li class="main-head-title gb-shop">
                    <a href="">药妆店<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-href="#/shops">店铺浏览</a>
                        </li>
                        <li>
                            <a ng-href="#/shops/search">店铺查找</a>
                        </li>
                    </ul>
                </li>
                <li class="main-head-title gb-search">
                    <span class="search">
                        <input type="text" name="searchBtn" id="searchBtn" class="input-text" placeholder="搜索" value="">
                    </span>
                </li>
                <li class="main-head-title">
                    <a href="./login.html">登录</a> | <a href="./login.html">注册</a>
                </li>
            </ul>
        </nav>

    </div>

</header>

