.breadcrumb{
    padding-left: 0;
}

.breadcrumb>li>.divider {
    padding: 0 8px;
    color: #9a9a9a;
}

.breadcrumb li{
    display: inline;
}

.breadcrumb a {
    color: #9a9a9a;
}

.breadcrumb-last{
    color: #000000;
}


.search-input{
    border-bottom: 1px solid #cccccc;
    border-top:1px solid #cccccc;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.form-control{
    padding-left: 10px;
    width: 70%;
    height: 28px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.menu-column-subcategory{
    margin-top: 10px;
    width: 27%;
    vertical-align: top;
    display: inline-block;
}


.menu-column-subcategory li{
    list-style: none;
}

.menu-column-subcategory-link {
    font-size: 18px;
    line-height: 26px;
}



.input-group-btn:hover{
    background: #000000;
    color: #fff;
    cursor: pointer;
}

.input-group-btn {
    border: 1px solid #000000;
    display: inline-block;
    color: #000000;
}

.zone-search-btn {
    display: block;
    padding: 5px 5px 3px 5px;
}

