#personCenterView .main-list {
    display: inline-block;
    float: left;
    width: 75%;
    max-width: 900px;
}

#personCenterView .side-bar {
    float: left;
    display: inline-block;
    width: 25%;
    max-width: 300px;
}


#personCenterView .main-list .nav ul {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 94.7%;
    display: inline-block;
    padding: 30px 0;
}

#personCenterView .main-list .nav ul li {
    width: 49.5%;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    color: #b2b2b2;
    cursor: pointer;
}

#personCenterView .main-list .nav ul li.selected{
    color: #000000;
}

#personCenterView .main-list .nav ul li:hover{
    color: #000000;
}



#personCenterView .shop-item-list .shop-item {
    padding-right: 15px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}


#personCenterView .shop-item-outer {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}


#personCenterView .shop-item-outer p {
    letter-spacing: 1px;
}

#personCenterView .shop-item-outer p>a {
    color: #b2b2b2;
}

#personCenterView .shop-item-outer img {
    height: 186px;
    width: 100%;
}



#personCenterView .main-list .news-list{
    display: none;
}

#personCenterView .main-list .news-list.selected{
    display: block;
}


#personCenterView .initial-title {
    display: inline;
}

#personCenterView .title-description {
    display: inline;
    padding-left: 20px;
}


#personCenterView .wrapper{
    margin-top: 40px;
}

#personCenterView .main-list>article>.header{
    padding-bottom: 10px;
}
