#productView .router-guide{
    list-style: none;
    padding-left: 0;
}

#productView .router-guide li{
    list-style: none;
    display: inline;
}

#productView .side-column{
    float: left;
    width: 18%;
}


#productView .main-column{
    float: right;
    width: 81%;
}


#productView .item-category {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

#productView .product-category-list h3 {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #bbb;
    color: #000000;
    font-weight: normal;
    padding: 10px 10px;
    font-size: 85%;
    margin-bottom: 0;
    margin-top: 0;
}

.product-category-list .item-category li.level1 {
    background: #fff url(../images/icon_category_arrow.gif) no-repeat 190px center;
}

.product-category-list .item-category li.level2 {
    background: #fff url(../images/icon_category_arrow.gif) no-repeat 144px center;
}

#productView .item-category li a{
    padding: 8px 10px 8px 8px;
    display: block;
    font-size: 85%;
}

#productView .brand-category-title{
    padding-top: 15px!important;
}

#productView .brand-category li a:hover,
#productView .item-category li a:hover{
    text-decoration: underline;
}

#productView .brand-category li p,
#productView .item-category li p{
    margin-bottom: 0;
    margin-top: 0;
}


#productView .brand-category {
    max-height: 500px;
    padding-left: 0;
    overflow-y: scroll;
    margin-top: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#productView .brand-category li{
    list-style: none;
}

#productView .brand-category li a {
    padding: 3px 10px 2px;
    display: block;
}




#productView h2.title.category {
    font-size: 250%;
    text-align: center;
    font-weight: normal;
    margin: 6px 0 2px;
    padding: 0;
}

#productView .page-nav-top-outer{
    margin: 15px 0 40px;
    padding: 10px 0 0;
    border-top: 1px solid #bbb;
    text-align: right;
}

#productView .pagenumber-area {
    clear: both;
    overflow: hidden;
    margin: 0 0 20px;
}

#productView .page-nav-top-outer a:hover {
    text-decoration: underline;
}


#productView .navi {
    padding: 10px 0 20px;
    text-align: center;
}

#productView .navi strong {
    margin: 0 3px 0 0;
    padding: 13px 16px;
    display: inline;
    font-weight: normal;
    background: #eeeeee;
}

#productView .navi a {
    margin: 0 3px 0 0;
    padding: 13px 16px;
    display: inline;
    background: #FFF;
}

#productView .navi a:hover{
    background: #eeeeee;
}


#productView .list-area {
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 24%;
    margin: 0 -1px -1px 0;
    padding: 1px;
    border: 1px solid #eee;
    margin-left: 5px;
}

#productView .listphoto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    height: 220px;
}


#productView .price_area{
    margin-bottom: 20px;
}

#productView .bottom-navi{
    margin-top: 25px;
    position: relative;
    margin-bottom: 25px;
}

#productView .menu-button{
    position: relative;
}

#productView .menu-button:hover>.dropdown-menu{
    display: block;
}

#productView .menu-button .dropdown-menu{
    left: 80%;
    top: 0;
}