#shopSearchView{
    background: url(../images/bg_body.jpg) repeat 0 0;
}

#menuHeader{
    background: #FFFFFF;
}

.b_search{
    text-align: center;
    padding-top: 34px;
}

.search-btn{
    cursor: pointer;
}


.inner-content{
    background: #FFFFFF;
    margin-top: 20px;
}

.inner-content .inner{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.area{
    padding-top: 20px;
    padding-bottom: 14px;
    padding-left: 15px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.1;
}

.shop-list-item{
    border-top: 1px solid #cbc2b2;
}

.shop-list-item .title-index{
    width: 100%;
    display: block;
    padding: 15px 0;
    /*background: url(../images/btn_detail.png) no-repeat right center;*/
    cursor: pointer;
}

.info-wrapper{
    position: relative;
    line-height: 40px;
}

.info-wrapper .map-wrapper{
    position: absolute;
    height: 100%;
    width: 50%;
}

.info-wrapper .shopTxt{
    display: inline-block;
    margin-left: 50%;
    width: 49%;
}

.map-container{
    height:91%
}

.shopTxt{
    padding-left: 40px;
}

.shopTxt th {
    text-align: left;
    width: 9em;
}
.b_search:hover .dropdown-menu{
    margin: 0 auto;
    left: 22%;
    display: block;
}


.b_search .dropdown-menu .menu-product-item {
    min-width: 150px;
    text-align: left;
    display: block;
}

.b_search .dropdown-menu>li>a {
    display: block;
    padding: 10px 0;
    clear: both;
    white-space: nowrap;
    text-align: center;
}

.b_search .dropdown-menu{
    min-width: 700px;
    padding-left: 20px;
}

.b_search .menu-product-item>a:hover {
    color: #c27baa;
}



.zone-choose {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}


.zone-choose .select-btn{
    display: inline-block;
    width: 25%;
    height: 34px;
    padding: 6px 12px;

}

.zone-choose .input-group{
    padding-left: 10px;
    display: inline-block;
    width: 73%;
    height: 34px;

}

.input-group input{
    width: 91%;

}


.b_search .input-group-btn {
    width: 15%;
    background: #fff;
    border: 1px solid #000000;
    display: inline-block;
    color: #000000;
}

.input-group-btn:hover{
    background: #000000;
    color: #fff;
    cursor: pointer;
}

.input-group-btn {
    border: 1px solid #000000;
    display: inline-block;
    color: #000000;
}



.zone-search-btn {
    display: block;
    padding: 5px 5px 3px 5px;
}