<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" ng-href="#/">
                <img src="content/img/logo.png" alt="Minimal logo" class="hidden-xs hidden-sm">
                <img src="content/img/logo-small.png" alt="Minimal logo" class="visible-xs visible-sm"><span class="sr-only">Minimal - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <a class="btn btn-primary navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">购物车</span>
                </a>
                <button type="button" class="navbar-toggle btn-default" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <button type="button" class="navbar-toggle btn-default" data-toggle="modal" data-target="#login-modal">
                    <span class="sr-only">User login</span>
                    <i class="fa fa-users"></i>
                </button>

            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a ng-href="#/">主页</a>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">产品<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="content/img/women.jpg" class="img-responsive hidden-xs" alt="">
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="col-sm-3">
                                            <ul>
                                                <li ng-repeat="item in vm.topCatesCol1" style="margin:12px;">
                                                    <a ng-href="#/categories/{{ item.categoryId }}/products/">{{ item.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul>
                                                <li ng-repeat="item in vm.topCatesCol2" style="margin:12px;">
                                                    <a ng-href="#/categories/{{ item.categoryId }}/products/">{{ item.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul>
                                                <li ng-repeat="item in vm.topCatesCol3" style="margin:12px;">
                                                    <a ng-href="#/categories/{{ item.categoryId }}/products/">{{ item.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <ul>
                                                <li ng-repeat="item in vm.topCatesCol4" style="margin:12px;">
                                                    <a ng-href="#/categories/{{ item.categoryId }}/products/">{{ item.name }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- highlight-->
                            <div class="footer clearfix hidden-xs">
                                <h4 class="pull-right">
                                    <a ng-href="#/categories" class="white">所有分类</a>
                                </h4>
                                    <!--<h4 class="pull-right">所有分类</h4>-->
                                    <!--<div class="buttons pull-left">
            <a ng-href="#/categories" class="btn btn-default">所有分类</a>
        </div>-->
</div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown normal-dropdown">
                    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">集匠推荐<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-href="#/pin">新品上市</a>
                        </li>
                        <li>
                            <a ng-href="#/ranking">人气商品</a>
                        </li>
                        <li>
                            <a ng-href="#/topics">集匠特辑</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ng-href="#/brands">品牌</a>
                </li>
                <li>
                    <a ng-href="#/articles">市场动态</a>
                </li>
                <li class="dropdown normal-dropdown">
                    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">药妆店<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-href="#/retailshops">店铺浏览</a>
                        </li>
                        <li>
                            <a ng-href="#/retailshops/search">店铺查找</a>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>

        <div class="navbar-collapse collapse right">
            <button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">
                <span class="sr-only">Toggle search</span>
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="navbar-collapse collapse right">
            <!--<button type="button" class="btn navbar-btn btn-default" data-toggle="modal" data-target="#login-modal">
                <span class="sr-only">用户登录</span>
                <i class="fa fa-user"></i>
            </button>-->
            <a class="btn navbar-btn btn-default" ng-href="#/profile">
                <span class="sr-only">个人中心</span>
                <i class="fa fa-user"></i>
            </a>
        </div>

        <div class="collapse clearfix" id="search">
            <form class="navbar-form" role="search">
                <select style="float:left;margin-right:2px;" class="form-control">
                    <option>商品</option>
                    <option>店铺</option>
                    <option>信息</option>
                </select>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="关键字">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        <!--/.nav-collapse -->

    </div>
</div>
<!-- /#navbar -->
<!-- *** NAVBAR END *** -->



