/* animation for ngView */
.slide.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.slide.ng-enter {
}
/* starting animations for enter */
.slide.ng-enter-active {
    opacity: 1;
}
/* terminal animations for enter */
.slide.ng-leave {
}
/* starting animations for leave */
.slide.ng-leave-active {
}

/* aniamtion for ngShow */
.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    line-height: 20px;
    -ms-opacity: 0;
    opacity: 1;
}

    .animate-show.ng-hide-add,
    .animate-show.ng-hide-remove {
        display: block !important;
    }

    .animate-show.ng-hide {
        line-height: 0;
        -ms-opacity: 0;
        opacity: 0;
    }


/* override kendo ui css */
/* override kendo ui treeview css */
#treeview a {
    color: black;
}

/* right sidebar */
#rightSidebar {
    position: fixed;
    background: #fff;
    padding: 20px 0;
    width: 320px; /* updated by justin */
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    height: calc(100% - 46px);
    right: -500px; /* updated by justin */
    top: 46px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    z-index: 100;
    opacity: 0;
    filter: alpha(opacity=0);
}

    #rightSidebar.toggled {
        right: 0;
        opacity: 1;
        filter: alpha(opacity=100);
    }
