/* animation for ngView */
.slide.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}

.slide.ng-enter {
}
/* starting animations for enter */
.slide.ng-enter-active {
    opacity: 1;
}
/* terminal animations for enter */
.slide.ng-leave {
}
/* starting animations for leave */
.slide.ng-leave-active {
}

/* aniamtion for ngShow */
.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    line-height: 20px;
    -ms-opacity: 0;
    opacity: 1;
}

    .animate-show.ng-hide-add,
    .animate-show.ng-hide-remove {
        display: block !important;
    }

    .animate-show.ng-hide {
        line-height: 0;
        -ms-opacity: 0;
        opacity: 0;
    }
