.menu-list{
    display: -webkit-box;
    height: 45px;
    border-bottom: 1px solid #e5e5e5;
}

.menu-list > ul > li{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.container{
    margin-top: 93px;
}

.wrapper{
    overflow-y: scroll;
}

.ranking-header .header,
.product-header .header,
.market-header .header{
    text-align: center;
    padding: 0 0 10px 0;
}


.ranking-header .header h1,
.product-header .header h1,
.market-header .header h1{
    font-size: 20px;
    margin-top: 10px;
}

.ranking-header .header p,
.product-header .header p,
.market-header .header p{
    font-size: 16px;
    margin-top: 10px;
}


.product-list li:first-of-type,
.market-list li:first-of-type{
    border-top: 1px solid #e5e5e5;
}

.product-list li,
.market-list li{
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.product-list li h3,
.market-list li h3{
    color: #b2b2b2;
}

.product-list li p,
.market-list li p{
    margin-top: 10px;
}

.product-list li img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    height: 186px;
}

.ad-1{
    padding: 30px 10px 20px 10px;
}

.ranking-list li {
    -webkit-box-flex: 1;
}

.ranking-list li img {
    vertical-align: middle;
    height: 83px;
    max-width: 100%;
}

.item-header{
    font-size: 16px;
    text-align: center;
}

.item-img{
    padding: 10px 0;
    text-align: center;
}

.item-description{
    padding: 0 10px;
    color: #b2b2b2;
}