.menu-list{
    display: -webkit-box;
    height: 45px;
    border-bottom: 1px solid #e5e5e5;
}

.menu-list > ul > li{
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.container{
    margin-top: 93px;
}