.slide-list>li{

    background: #000000;
    color: #FFFFFF;
    font-size: 18px;

    border-bottom: 1px solid #FFFFFF;
}

.slide-list-first-name{
    position: relative;
    padding: 10px 0 11px 4px;
}


.slide-list-first-name:after{
    content: '\e600';
    position: absolute;
    right: 10px;
    color: #FFFFFF;
    font-size: 14px;
    top: 30%;
}

.slide-list-second{
    display: none;
}

.slide-list-second>li{
    background: #FFFFFF;
    color: #000;
    font-size: 18px;
    padding: 10px 0 11px 4px;
}