<div id="productDetailView">
    <ol class="breadcrumb">

        <li>
            <a ng-href="#/">
                <span>主页</span>
            </a>
        </li>

        <li>
            <span class="divider">&gt;</span>
            <a ng-href="#/categories/{{ vm.product.category.parentCategory.parentId }}/products/1">
                <span>{{ vm.product.category.parentCategory.parentCategory.name }}</span>
            </a>
        </li>

        <li>
            <span class="divider">&gt;</span>
            <a ng-href="#/categories/{{ vm.product.category.parentId }}/products/2">
                <span>{{ vm.product.category.parentCategory.name }}</span>
            </a>
        </li>

        <li>
            <span class="divider">&gt;</span>
            <a ng-href="#/categories/{{ vm.product.categoryId}}/products/3">
                <span>{{ vm.product.category.name }}</span>
            </a>
        </li>

    </ol>

    <div>
        <span class="detail-img">
            <img ng-src="{{ vm.imgRoot + vm.primaryImg }}">
        </span>
        <span class="detail-content">
            <div class="product-name-outer">
                <h2 class="product-name-left">{{ vm.product.primaryName }}</h2>
                <strong class="product-name-right">{{ vm.product.brand.name }}マスク</strong>
            </div>

            <p>{{ vm.product.secondaryName }} </p>

            <p class="price-sale">
                市场参考价： {{ vm.product.price | currency:"¥"}}
                <span ng-show="!vm.isFavorited" style="float:right;">
                    <a href="" ng-click="vm.saveProduct()"><img src="content/img/star.png" />加入我的收藏</a>
                </span>
                <span ng-show="vm.isFavorited" style="float:right;">
                    <a  href="" ng-click="vm.removeProduct()"><img src="content/img/star_saved.png" />取消收藏</a>
                </span>    
            </p>

            <p>
                <span class="product-number">功能(用途): {{ vm.product.category.name}} </span>
            </p>

            <p>
                <span class="product-number">重量: {{ vm.product.weight }} </span>
            </p>

            <p>
                <span class="product-number">容量: {{ vm.product.capacity }} </span>
            </p>
            <!-- user favorites-->

            <!--<p>
                <span class="star_box">
                    <span class="star" style="width:40%"></span>
                </span>

                <span class="item-score">4.6</span>

                <span>(215)</span>

                <span>评论</span>
            </p>-->
            <!--<p>
                <pre>{{ vm.product.description }}</pre>
            </p>-->

            <div class="thumbs">
                <a href="javascript:void(0);"
                   ng-class="$index == 0 ? 'thumb active' : 'thumb'"
                   bigimg="{{ vm.imgRoot + img.fileName }}"
                   ng-repeat="img in vm.productImages track by $index">
                    <img ng-src="{{ vm.imgRoot + img.fileName }}">
                </a>
            </div>

            <!-- tab cotent -->
            <div>
                <ul class="nav-tabs">
                    <li class="product-tab active" chooseitem="tab-detail">
                        <a class="nav-tab" href="javascript:void(0);">商品详情</a>
                    </li>

                    <li class="product-tab" chooseitem="tab-instruction">
                        <a class="nav-tab" href="javascript:void(0);">使用说明</a>
                    </li>

                    <li class="product-tab" chooseitem="tab-shop">
                        <a class="nav-tab" href="javascript:void(0);">可购入店铺</a>
                    </li>

                    <li class="product-tab" chooseitem="tab-append">
                        <a class="nav-tab" href="javascript:void(0);">追加信息</a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-item-content tab-detail active">
                        <blockquote>                            
                            <pre>{{ vm.product.description }}</pre>                            
                        </blockquote>
                        
                    </div>
                    <div class="tab-item-content tab-instruction">
                        <blockquote>
                            <pre>{{ vm.product.instruction }}</pre>
                        </blockquote>
                        <!-- list of the insruction images-->
                        <img ng-repeat="img in vm.instrutionImages" 
                             ng-src="{{ vm.imgRoot + img.fileName }}" alt="" class="img-responsive">                        
                    </div>
                    <div class="tab-item-content tab-shop">
                        <img src="content/img/shop1.jpg" />
                    </div>
                    <div class="tab-item-content tab-append">
                        追加信息暂无
                    </div>                  
                </div>
            </div>
        </span>
    </div>

    <div class="recommend-list">
        <span class="interest-product">

            <h2 class="heading-line">
                可能感兴趣的商品
            </h2>

            <div class="recommend-list-wrapper">

                <section>

                    <div class="product-tile">

                        <div class="product-image">
                            <a href="javascript:void(0);">
                                <img src="http://demandware.edgesuite.net/aark_prd/on/demandware.static/-/Sites-mecca-online-catalog/default/dw6d43886c/product/bobbi/th/i-012540-ultra-fine-eyeliner-brush-1-150.jpg">
                            </a>
                        </div>

                        <div>
                            <a class="brand-name" href="javascript:void(0);">
                                Bobbi Brown
                            </a>

                            <a class="name-link" href="javascript:void(0);">
                                Ultra Fine Eyeliner Brush
                            </a>
                        </div>

                        <div class="product-pricing">
                            <span class="product-sales-price" title="Sale Price">$37.00</span>
                        </div>

                        <!--<span class="star_box">
                            <span class="star" style="width:40%"></span>
                        </span>-->

                    </div>

                    <div class="product-tile">

                        <div class="product-image">
                            <a href="javascript:void(0);">
                                <img src="http://demandware.edgesuite.net/aark_prd/on/demandware.static/-/Sites-mecca-online-catalog/default/dwd0cc4a70/product/bobbi/th/i-012399-long-wear-gel-eyeliner-denim-ink-1-150.jpg">
                            </a>
                        </div>

                        <div>
                            <a class="brand-name" href="javascript:void(0);">
                                Bobbi Brown
                            </a>

                            <a class="name-link" href="javascript:void(0);">
                                Ultra Fine Eyeliner Brush
                            </a>
                        </div>

                        <div class="product-pricing">
                            <span class="product-sales-price" title="Sale Price">$37.00</span>
                        </div>

                        <!--<span class="star_box">
                            <span class="star" style="width:40%"></span>
                        </span>-->

                    </div>

                </section>

            </div>

        </span>
        <span class="recent-view">
            <h2 class="heading-line">
                浏览过的产品
            </h2>

            <div class="recommend-list-wrapper">
                <section>
                    <div class="product-tile"
                         ng-repeat="product in vm.visitedProducts">
                        <!-- product iamge, url with id -->
                        <div class="product-image">
                            <a ng-href="#/products/{{ product.productId }}">
                                <img ng-src="{{ product.imgUrl }}">
                            </a>
                        </div>
                        
                        <div>
                            <!-- brand name -->
                            <a class="brand-name" ng-href="#/products/{{ product.productId }}">
                                {{ product.brandName }}
                            </a>
                            <!-- product name-->
                            <a class="name-link" ng-href="#/products/{{ product.productId }}">
                                {{ product.productName }}
                            </a>
                        </div>
                        <!-- prive -->
                        <div class="product-pricing">
                            <span class="product-sales-price" title="Sale Price">
                                {{ product.price | currency:"¥"}}
                            </span>
                        </div>

                        <!--<span class="star_box">
                            <span class="star" style="width:40%"></span>
                        </span>-->

                    </div>
                </section>

            </div>


        </span>
    </div>

</div>
