<div id="productView">
    <div>
        <ol class="router-guide">
            <li>
                <a ng-href="#/">主页</a>&nbsp;&gt;&nbsp;
            </li>
            <li>
                <a ng-href="">药妆产品</a>&nbsp;&gt;&nbsp;
            </li>
            <li>
                <strong>新品上市</strong>
            </li>
        </ol>
    </div>

    <div class="main-content">

        <div class="side-column">
            <div class="product-category-list">
                <h3>类别</h3>
                <ul class="item-category">
                    <li class="level1" ng-repeat="topCate in vm.categories">
                        <div class="menu-button">
                            <p>
                                <a ng-href="#/categories/{{ topCate.categoryId }}/products/1">{{ topCate.name }}</a>
                            </p>
                            <ul class="dropdown-menu">
                                <li class="level2"
                                    ng-repeat="secondCate in topCate.subCategories">
                                    <div class="menu-button">
                                        <p>
                                            <a ng-href="#/categories/{{ secondCate.categoryId }}/products/2">{{ secondCate.name }} </a>
                                        </p>

                                        <ul class="dropdown-menu">
                                            <li class="level3"
                                                ng-repeat="thirdCate in secondCate.subCategories">
                                                <a ng-href="#/categories/{{ thirdCate.categoryId }}/products/3">{{ thirdCate.name }}</a>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </li>

                </ul>

            </div>
        </div>

        <div class="main-column">

            <h2 class="title category">新品上市</h2>
            <div class="page-nav-top-outer">
                <span class="select_numbers">
                    每页显示:
                    <select name="disp_number" onchange="javascript:void(0);">
                        <option value="20" selected="selected">12件</option>
                        <option value="40">24件</option>
                        <option value="60">36件</option>
                    </select>
                </span>


            </div>
            <section class="product-list clearfix">
                <div class="list-area clearfix"
                     ng-repeat="product in vm.products">
                    <div class="listphoto">
                        <a ng-href="#/products/{{product.productId}}">
                            <img ng-src="{{ vm.imgRoot + product.imgUrl}}"
                                 alt="{{ product.primaryName }}"
                                 class="picture">
                        </a>
                    </div>

                    <div class="listrightbloc">
                        <div class="listrightbloc_head">
                            <div class="listcomment">{{ product.brandName }}</div>
                            <h3>{{ product.primaryName  }}</h3>

                            <div class="price_area">
                                <div class="pricebox sale_price">
                                    <span class="price">
                                        <span id="price02_default_13666">{{ product.price | currency:"¥"}}</span>
                                        <span id="price02_dynamic_13666"></span>
                                        <span class="price_strong"></span>
                                    </span>

                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </section>
            <!-- loading icon -->
            <div ng-show="vm.isLoadingStarts" style="margin:15px 0 20px 0">
                <img style="display: block;margin-left: auto;margin-right: auto;" 
                     src="content/img/loading.gif">
            </div>
        </div>
        
    </div>
</div>

