<div id="all">
    <!-- content area -->
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a ng-href="#/">主页</a>
                    </li>
                    <li><a ng-href="#/categories/{{ vm.product.category.parentCategory.parentId }}/products">{{ vm.product.category.parentCategory.parentCategory.name }}</a></li>
                    <li>{{ vm.product.category.parentCategory.name }}</li>
                </ul>
                <div class="row">
                    <div class="box text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1>{{ vm.product.primaryName }}</h1>
                                <p class="text-muted"> {{ vm.product.secondaryName }} </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <div id="mainImage">
                                <img alt="产品图片" class="img-responsive img-center"
                                     ng-src="{{ vm.imgRoot + vm.primaryImg }}">
                            </div>

                            <div class="ribbon sale">
                                <div class="theribbon">醒目</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <div class="sizes">
                                    <h3> {{ vm.product.brand.name }} </h3>
                                </div>

                                <!--<p class="price">{{ vm.product.price | currency:"¥" }}</p>-->

                                <p class="text-center">                                    
                                    <button type="button" class="btn btn-default btn-lg" title="收藏"
                                            ng-click="vm.toggleFavorite()">
                                        收藏 <i ng-class="(vm.isFavorited) ? 'fa fa-star orange' : 'fa fa-star-o'"></i>
                                    </button>
                                    <!--<button type="button" class="btn btn-default" title="收藏">
                                        <i class="fa fa-star-o"></i>
                                    </button>-->
                                    <!--<button type="button" class="btn btn-default" title="转发">
                                        <i class="fa fa-share"></i>
                                    </button>-->
                                </p>
                            </div>

                            <div class="row" id="thumbs">
                                <div class="col-xs-4"
                                     ng-repeat="img in vm.productImages">
                                    <a ng-href="{{ vm.imgRoot + img.fileName }}" class="thumb">
                                        <img ng-src="{{ vm.imgRoot + img.fileName }}" alt="" class="img-responsive img-center" style="height:128px;">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="box" id="details">
                        <!-- tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#desc" role="tab" data-toggle="tab" aria-controls="desc" aria-expanded="true">商品详情</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#instruction" role="tab" data-toggle="tab" aria-controls="instruction" aria-expanded="false">使用说明</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#extra" role="tab" data-toggle="tab" aria-controls="extra" aria-expanded="false">追加信息</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#shop" role="tab" data-toggle="tab" aria-controls="shop" aria-expanded="false"><i class="fa fa-shopping-bag"></i> 可购入店铺</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="desc" aria-labelledby="desc-tab">
                                <h4>商品详细</h4>
                                <ul>
                                    <li>市场参考价： {{ vm.product.price | currency:"¥" }}</li>
                                    <li>功能(用途): {{ vm.product.category.name }}</li>
                                    <li>重量： {{ vm.product.weight }} </li>
                                    <li>容量: {{ vm.product.capacity }}</li>
                                    <li>质地: {{ }}</li>
                                    <li>气味: {{ vm.product.flavor}}</li>
                                </ul>
                                <h4>商品介绍</h4>
                                <blockquote>
                                    <p>
                                        <pre>{{ vm.product.description }}</pre>
                                    </p>
                                </blockquote>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="instruction" aria-labelledby="instruction-tab">
                                <h4>使用说明</h4>
                                <blockquote>
                                    <p>
                                        <pre>{{ vm.product.instruction }}</pre>
                                    </p>
                                </blockquote>
                                <!-- instruction images -->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12"
                                         ng-repeat="img in vm.instrutionImages">
                                        <img ng-src="{{ vm.imgRoot + img.fileName }}" alt="" class="img-responsive">
                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="extra" aria-labelledby="extra-tab">
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="shop" aria-labelledby="extra-tab">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <img src="content/img/shop1.jpg" class="img-responsive" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box social" id="product-social">
                        <h4>转发 (国内用户主要是微信)</h4>
                        <p>
                            <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box">
                                <h5>可能感兴趣的产品</h5>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box">
                                <h5>浏览过的产品</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.col-md-9 -->
                <!-- *** RIGHT COLUMN *** -->
                <div class="col-sm-3">
                    <!-- *** MENUS AND FILTERS ***-->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="panel-title">产品类别</h3>
                        </div>

                        <div class="panel-body" style="max-height: 520px;overflow-y: scroll;">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                <!-- current top category -->
                                <li class="active">
                                    <a ng-href="#/categories/{{ vm.menu.expandedItem.categoryId }}/products">{{ vm.menu.expandedItem.name}} <!--<span class="badge pull-right">42</span>--></a>
                                    <ul>
                                        <li ng-repeat="sub in vm.menu.expandedItem.subItems">
                                            <a ng-href="#/categories/{{ vm.menu.expandedItem.categoryId }}/products?subcateid={{ sub.categoryId }}">
                                                {{ sub.name }}&nbsp;
                                                <i class="fa fa-check main-color" ng-show="sub.categoryId == vm.product.category.parentId"></i>
                                            </a>                                            
                                        </li>
                                    </ul>
                                </li>
                                <!-- collapsed menu items -->
                                <li ng-repeat="item in vm.menu.collapsedItems">
                                    <a ng-href="#/categories/{{ item.categoryId }}/products">{{ item.name}} <!--<span class="badge pull-right">42</span>--></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="banner">
                        <a href="">
                            <img src="content/img/adv1.jpg" class="img-responsive" />
                        </a>
                    </div>
                    <div class="banner">
                        <a href="">
                            <img src="content/img/adv2.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <!-- /.col-md-3 -->
                <!-- *** RIGHT COLUMN END *** -->

            </div>
        </div>
    </div>
</div>


