<div id="all">
    <!-- content area -->
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a ng-href="#/">主页</a>
                    </li>
                    <li>产品目录</li>
                </ul>
                <div class="row">
                    <div class="box text-center">
                        <div class="row">
                            <div class="col-sm-10">
                                <a href="" data-toggle="modal" data-target="#huojia-quick-view-modal" title="显示货架">
                                    <h1>{{ vm.menu.expandedItem.name }}</h1>
                                </a>
                                <h4 class="text-muted">{{ vm.subCate.name }}</h4>
                            </div>
                            <div class="col-sm-2">
                                <a href="" data-toggle="modal" data-target="#huojia-quick-view-modal">                                
                                    <img src="content/img/huojia.PNG" style="height:100px;" />
                                </a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <!-- *** LEFT COLUMN *** -->
                <div class="col-sm-9">                   
                    <div class="row">
                        <div class="col-md-1 col-sm-2">
                            功能： 
                        </div>
                        <div class="col-md-11 col-sm-10">                            
                            <a class="btn btn-primary btn-sm" style="margin-right:10px; margin-bottom:5px;"
                               ng-repeat="cate in vm.thirdCategories">
                               {{ cate.name }}
                            </a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 products-number-sort">
                            <div class="products-sort-by pull-right">
                                
                                <select name="sort-by" class="form-control">
                                    <option>根据价格排序</option>
                                    <option>根据名称排序</option>
                                    <option>根据销量排</option>
                                    <option>根据热度排序</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row products">
                        <div class="col-md-4 col-sm-6" 
                             ng-repeat="product in vm.products">
                            <div class="product">
                                <div class="image">
                                    <a ng-href="#/products/{{product.productId}}">
                                        <img ng-src="{{ vm.imgRoot + product.imgUrl}}" alt="" class="img-responsive produt-list-img">
                                    </a>
                                    <div class="quick-view-button">
                                        <a ng-href="#/products/{{product.productId}}" class="btn btn-default btn-sm">详细信息</a>
                                    </div>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h3><a ng-href="#/products/{{product.productId}}">{{ product.brandName }}</a></h3>
                                    <a ng-href="#/products/{{product.productId}}" title="{{ product.fullName }}">{{ product.shortName }}</a>
                                    <p class="price">{{ product.price | currency:"¥"}}</p>
                                </div>
                                <!--<div class="">                                    
                                    <p>
                                        <a href="#" style="color:orange; font-size:13pt;"><i class="bigger-120 fa fa-star"></i></a>
                                        <a href="#" style="color:deeppink;font-size:13pt;"><i class="fa fa-heart"></i></a>
                                        <a href="#" style="color:green;font-size:13pt;"><i class="fa fa-share"></i></a>
                                    </p>
                                </div>-->
                                <!-- /.text -->
                                <!-- randon display labels -->
                                <div class="ribbon new" ng-show="{{ product.productId % 3 == 0}}">
                                    <div class="theribbon">促销</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <!--<div class="ribbon sale">
                                    <div class="theribbon">推荐</div>
                                    <div class="ribbon-background"></div>
                                </div>-->
                            </div>
                            <!-- /.product -->
                        </div>                 
                    </div>

                    <div class="pages">
                        <p class="loadMore">
                            <button type="button" class="btn btn-primary"
                                    ng-click="vm.loadProducts()"
                                    ng-disabled="vm.isAllDataLoaded">
                                <i class="fa fa-chevron-down"></i> Load more
                            </button>
                        </p>             
                    </div>
                </div>
                <!-- /.col-md-9 -->
                <!-- *** LEFT COLUMN END *** -->
                <!-- *** RIGHT COLUMN *** -->

                <div class="col-sm-3">
                    <!-- *** MENUS AND FILTERS ***-->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="panel-title">产品类别</h3>
                        </div>

                        <div class="panel-body" style="max-height: 520px;overflow-y: scroll;">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                <!-- current top category -->
                                <li class="active">
                                    <a ng-href="#/categories/{{ vm.menu.expandedItem.categoryId }}/products">{{ vm.menu.expandedItem.name}} <!--<span class="badge pull-right">42</span>--></a>
                                    <ul>
                                        <li ng-repeat="sub in vm.menu.expandedItem.subItems">
                                            <a ng-href="#/categories/{{ vm.menu.expandedItem.categoryId }}/products?subcateid={{ sub.categoryId }}">
                                                {{ sub.name }}&nbsp;
                                                <i class="fa fa-check main-color" ng-show="sub.categoryId == vm.subCate.categoryId"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- collapsed menu items -->
                                <li ng-repeat="item in vm.menu.collapsedItems">
                                    <a ng-href="#/categories/{{ item.categoryId }}/products">{{ item.name}} <!--<span class="badge pull-right">42</span>--></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">
                                品牌 
                                <a class="btn btn-xs btn-danger pull-right" href="">
                                    <i class="fa fa-times-circle"></i> <span class="hidden-sm">清除</span>
                                </a>
                            </h3>
                        </div>

                        <div class="panel-body">                         
                            <div class="form-group">
                                    <div class="checkbox" ng-repeat="brand in vm.categoryBrands">
                                        <label>
                                            <input type="checkbox">{{ brand.name }}
                                        </label>
                                    </div>
                                </div>
                            <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> 过滤</button>
                        </div>
                    </div>

                    <!-- *** MENUS AND FILTERS END *** -->

                    <div class="banner">
                        <h4>此处可显示广告</h4>
                        <!--<a href="category.html">
                    <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>-->
                    </div>
                    <!-- /.banner -->

                </div>
                <!-- /.col-md-3 -->
                <!-- *** RIGHT COLUMN END *** -->

            </div>

            <!-- 货架 -->

            <div class="modal fade" id="huojia-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                            <div class="row quick-view product-main">
                                <div class="col-sm-12">
                                    <h2>品类货架展示</h2>
                                    <div class="quick-view-main-image">
                                        <img src="content/img/huojia2.PNG" class="img-responsive" />
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.modal-dialog-->
            </div>
            <!-- /.modal -->
        </div>
    </div>
</div>


