<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">

                    <li>
                        <a ng-href="#/">首页</a>
                    </li>
                    <li>集匠专题推荐</li>
                </ul>

                <div class="box text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="http://www.cosme.com/user_data/packages/default/category/13/img/slider-loccitane-980_260.jpg" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6"
                     ng-repeat="item in vm.items">
                    <div class="product">
                        <div class="image">
                            <a href="">
                                <img ng-src="{{ item.imgUrl}}" alt="" class="img-responsive">
                            </a>
                        </div>
                        <!-- /.image -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>