<!-- *** SLIDER *** -->
<div id="slider" class="owl-carousel owl-theme">
    <div class="item"
         ng-repeat="slider in vm.sliders">
        <a ng-href="{{ slider.link }}">
            <img ng-src="{{ slider.imgUrl }}" alt="{{ slider.name }}" class="img-responsive">
        </a>
    </div>
</div>
<!-- /#slider -->
<!-- *** SLIDER END *** -->

<div id="all">
    <!-- advantangs info (articles) -->
    <div id="advantages">
        <div class="container">
            <div class="col-md-12">
                <div class="box text-center">
                    <h3 class="text-uppercase">药妆心得</h3>
                    <div class="row">
                        <div class="col-md-4 col-xs-12"
                             ng-repeat="article in vm.articles">
                            <div class="post">
                                <img ng-src="{{ article.imgUrl  }}" class="img-responsive"  />
                                <hr>
                                <p class="intro">
                                    {{ article.title }}<br />
                                    <small>2016年3月2日</small>                                 
                                </p>
                                
                                <p class="read-more">
                                    <a ng-href="{{ article.link }}" class="btn btn-primary">阅读全文</a>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <!-- content area -->
    <div id="content">
        <div class="container">
            <div class="col-sm-12">
                <div class="box text-center">
                    <h3 class="text-uppercase">本周新品</h3>
                    <!--<h4 class="text-muted"><span class="accent">Free shipping</span> on all</h4>-->
                </div>

                <div class="row products">
                    <div class="col-md-3 col-sm-2"
                         ng-repeat="product in vm.products">
                        <div class="product">
                            <div class="image">
                                <a ng-href="#/products/{{product.productId}}">
                                    <img ng-src="{{ vm.imgRoot + product.imgUrl}}" alt="" class="img-responsive produt-list-img">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a ng-href="#/products/{{product.productId}}">{{ product.brandName }}</a></h3>
                                <a ng-href="#/products/{{product.productId}}" title="{{ product.fullName }}">{{ product.shortName }}</a>
                                <p class="price">{{ product.price | currency:"¥"}}</p>
                            </div>
                            <!-- /.text -->
                            <!-- randon display labels -->
                            <div class="ribbon sale" ng-show="{{ product.productId % 3 == 0}}">
                                <div class="theribbon">醒目</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <!-- /.col-md-4 -->

                </div>
                <!-- /.products -->

            </div>
        </div>

        <!-- news -->
        <div class="container">
            <div class="col-sm-12">
                <div class="box text-center">
                    <h3 class="text-uppercase">集匠新闻</h3>

                    <p class="text-italic text-large">
                        行业动态，最新流行咨询 <span class="accent">尽在集匠新闻</span>
                    </p>
                </div>

                <div id="blog-homepage" class="row">
                    <div class="col-md-4 col-sm-6"
                         ng-repeat="item in vm.news">
                        <div class="post">
                            <h4><a ng-href="{{ item.link }}">{{ item.title }}</a></h4>
                            <p class="author-category">
                                By <a href="#">{{ itme.by }}</a>
                            </p>
                            <hr>
                            <img ng-src="{{ item.imgUrl }}" class="image1"/>
                            <p class="read-more">
                                <a ng-href="{{ itme.link }}" class="btn btn-primary">详细信息</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



